<% repositories.each do |repo| %>
  <div class="row repo-info">
    <div class="span9">
      <h3><%= link_to(repo.name, repo.link) %></h3>
      <p class="description"><%= repo.description %></p>
    </div>
    <div class="span3">
      <div class="row repo-stats">
        <div class="span1 hubstars hubstarred">
          <%= link_to(repo.stars, repository_path(repo), rel: 'tooltip',
                      title: 'Toggle HubStar', data: {placement: 'bottom', id: repo.name}) %>
        </div>
        <div class="span1 watchers"><span><%= repo.watchers %></span></div>
        <div class="span1 forks"><span><%= repo.forks %></span></div>
      </div>
    </div>
  </div>
<% end %>
